@import "./sample.module.scss";
$hero-yp: 1rem;
$space-big: 2rem;
$container-px: 5rem;
$heading: 2.8rem;
%pb {
  padding-bottom: 1.5rem;
}
%heading {
  font-size: $heading;
  font-family: $upwork-sans;
  line-height: $heading;
}
.container {
  padding-left: $container-px;
  padding-right: $container-px;
}
.hero {
  padding-top: $hero-yp;
  padding-bottom: $hero-yp;
  @include flex;
  div h1 {
    font-size: 5rem;
    width: 70%;
    line-height: 5rem;
    color: $primary-color;
    font-family: $upwork-sans;
    @extend %pb;
    @extend %bold;
  }
  div h4 {
    font-size: 1.4rem;
    width: 70%;
    color: #5e6d55;
    @extend %pb;
    @extend %bold;
  }
}
.trust {
  margin-top: 4.5rem;
  p {
    color: #9aaa97;
    @extend %bold;
  }
}
// another one

.aList {
  @include flex;
  margin-top: $space-big;
  margin-bottom: $space-big;
  .wordContainer {
    margin-left: 1rem;
  }
  div h2 {
    font-size: 1.2rem;
    display: block;
    line-height: 1.4rem;
    font-weight: 500;
  }
  div h4 {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}
.sections {
  @include flex;
  margin-top: $space-big;
  margin-bottom: $space-big;
  align-items: center;
  .sectionOne {
    width: 40%;
    height: 26rem;
    background-color: $border-color;
    border-radius: 6px;
  }
  .sectionTwo {
    h1 {
      @extend %heading;
      @extend %bold;
    }
    .btnContainer {
      @include flex;
    }
  }
}
.separatorX {
  width: 2rem;
}

.sectionThree {
  margin-top: $space-big;
  margin-bottom: $space-big;
  .looking {
    color: #5e6d55;
    @extend %semi-bold;
    margin-top: 0.7rem;
  }
  h1 {
    font-size: $heading;
    font-family: $upwork-sans;
    @extend %bold;
    line-height: 3rem;
  }
  .categories {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2.4rem;
    .category {
      background-color: #f8faf7;
      height: 9rem;
      padding: 1rem 2rem;
      border-radius: 6px;
      //   width: 25%;
      p {
        font-size: 1.5rem;
        @extend %semi-bold;
      }
      .more {
        @include flex;
        align-items: center;
        width: 70%;
        justify-content: $justify-between;
        margin-top: 1rem;
        color: #5e6d55;
        .withIcon {
          @include flex;
          align-items: center;
        }
      }
      .icon {
        color: $primary-color;
      }
    }
  }
}
