@import "./sample.module.scss";
$hero-yp: 1rem;
$space-big: 2rem;
$container-px: 4rem;
$heading: 2.8rem;
%pb {
  padding-bottom: 1.5rem;
}
%heading {
  font-size: $heading;
  font-family: $upwork-sans;
  line-height: $heading;
}
%container-margin {
  margin-top: $space-big !important;
  margin-bottom: $space-big !important;
}
.container {
  padding-left: $container-px;
  padding-right: $container-px;
}
.hero {
  padding-top: $hero-yp;
  padding-bottom: $hero-yp;
  @include flex;
  div h1 {
    font-size: 5rem;
    width: 70%;
    line-height: 5rem;
    color: $primary-color;
    font-family: $upwork-sans;
    @extend %pb;
    @extend %bold;
  }
  div h4 {
    font-size: 1.4rem;
    width: 70%;
    color: #5e6d55;
    @extend %pb;
    @extend %bold;
  }
}
.trust {
  margin-top: 4.5rem;
  p {
    color: #9aaa97;
    @extend %bold;
  }
}
// another one

.aList {
  @include flex;
  @extend %container-margin;
  .wordContainer {
    margin-left: 1rem;
    .h2 {
      font-size: 2.1rem;
    }
    .h4 {
      margin-top: 1rem;
      font-size: 1rem;
      @extend %semi-bold;
      color: #5e6d55;
      width: 65%;
    }
  }
  .wordContainer2 {
    .h22 {
      @extend %bold;
    }
    .h44 {
      color: #f8faf7 !important;
      font-weight: 400 !important;
      width: 100%;
    }
  }
  div h2 {
    font-size: 1.2rem;
    display: block;
    line-height: 1.4rem;
    font-weight: 500;
  }
  div h4 {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}
.sections {
  @include flex;
  @extend %container-margin;
  align-items: center;
  .sectionOne {
    width: 40%;
    height: 26rem;
    background-color: $border-color;
    border-radius: 6px;
  }
  .sectionTwo {
    h1 {
      @extend %heading;
      @extend %bold;
    }
    .btnContainer {
      @include flex;
    }
  }
}
.separatorX {
  width: 2rem;
}

.sectionThree {
  @extend %container-margin;
  .looking {
    color: #5e6d55;
    @extend %semi-bold;
    margin-top: 0.7rem;
  }
  h1 {
    font-size: $heading;
    font-family: $upwork-sans;
    @extend %bold;
    line-height: 3rem;
  }
  .categories {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2.4rem;
    .category {
      background-color: #f8faf7;
      height: 9rem;
      padding: 1rem 2rem;
      border-radius: 6px;
      //   width: 25%;
      p {
        font-size: 1.5rem;
        @extend %semi-bold;
      }
      .more {
        @include flex;
        align-items: center;
        width: 70%;
        justify-content: $justify-between;
        margin-top: 1rem;
        color: #5e6d55;
        .withIcon {
          @include flex;
          align-items: center;
        }
      }
      .icon {
        color: $primary-color;
      }
    }
  }
}

.sectionFour {
  background: #12544e;
  border-radius: 6px;
  height: 38rem;
  @extend %container-margin;
  @include flex;
  .image2 {
    width: 40%;
    background-color: #91e6b3;
  }
  .enter {
    width: 60%;
    padding: 2.1rem 2rem;
  }
  .listContainer {
    margin-top: $hero-yp;
    margin-bottom: $hero-yp;
  }
  h4 {
    font-size: 1.4rem;
    @extend %semi-bold;
    color: #f8faf7;
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 4rem;
    font-family: $upwork-sans;
    line-height: 3.8rem;
    width: 79%;
    color: #91e6b3;
    margin-bottom: 1.6rem;
    @extend %bold;
    span {
      color: #f8faf7;
    }
  }
  p {
    color: #f8faf7;
    font-size: 1.2rem;
  }
  .listWithIcon {
    @include flex;
    align-items: center;
    padding-bottom: 0.6rem;
    p {
      margin-left: 1rem;
    }
  }
}

.forClients {
  background-color: #5e6d55;
  padding: 2rem;
  border-radius: 6px;
  height: 40rem;
  @include flex(column);
  @extend %container-margin;
  justify-content: $justify-between;
  div h4 {
    font-size: 1.4rem;
    color: #f8faf7;
  }
  .sectionTwo {
    .p {
      width: 43%;
      font-size: 1.2rem;
      color: #f8faf7;
      margin-top: 1rem;
    }
    .h1 {
      font-size: 5rem;
      width: 32%;
      line-height: 5rem;
      color: #f8faf7;
      @extend %bold;
      font-family: $upwork-sans;
    }
  }
  .listContainer {
    @include flex;
    justify-content: $justify-between;
    margin-top: $space-big;
    .card1 {
      height: 10rem;
      border-radius: 6px;
      background-color: $primary-color;
      width: 31.7%;
      color: #f8faf7;
      padding: 1.2rem;
      h1 {
        font-size: 2.5rem;
        width: 70%;
        line-height: 2.4rem;
        @extend %semi-bold;
      }
      p {
        font-size: 1.2rem;
      }
      .longWords {
        width: 100%;
      }
      .iconContainer {
        @include flex;
        align-items: center;
        margin-top: 1rem;
      }
    }
    .card1:hover {
      background-color: #f8faf7;
      color: $primary-color;
      cursor: pointer;
    }
  }
}

.why {
  @extend %container-margin;
  .inner {
    @include flex;
    justify-content: $justify-between;
    .left {
      background-color: #f2f7f2;
      border-radius: 0 0 6px 6px;
      width: 64%;
      height: 40rem;
      padding-top: 5rem;
      padding-left: 2rem;
      .h1 {
        font-size: 5rem;
        font-family: $upwork-sans;
        width: 75%;
        line-height: 4.6rem;
        @extend %bold;
      }
    }
    .right {
      background-color: $primary-color;
      border-radius: 0 0 6px 6px;
      padding-top: 15rem;
      width: 33%;
      height: 40rem;
      color: #f8faf7 !important;
      padding-left: 2rem;
      div h1 {
        font-size: 2rem;
        line-height: 1.9rem;
        width: 65%;
        @extend %bold;
      }
    }
  }
}

.forTalent {
  @include flex();
  @extend %container-margin;
  .talentLeft {
    width: 50%;
    height: 42rem;
    background-color: #91e6b3;
  }
  .talentRight {
    width: 50%;
    background-color: #2057c3;
    height: 42rem;
    padding: 2rem;
    @include flex(column);
    justify-content: $justify-between;
    color: #f8faf7;
    div h4 {
      font-size: 1.4rem;
    }
    div h1 {
      font-size: 5rem;
      font-family: $upwork-sans;
      width: 70%;
      line-height: 4.6rem;
      @extend %bold;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    div p {
      font-size: 1.1rem;
      width: 70%;
    }
    .listn {
      @include flex();
      border-top: 1px solid #f8faf7;
      padding-top: 1rem;
      padding-bottom: 2.4rem;
    }
  }
}
.card {
  background-color: #12544e;
  color: #f8faf7;
  width: 37rem;
  height: 28rem;
  border-radius: 6px;
  padding: 2rem;
  @include flex(column);
  justify-content: $justify-between;
  h2 {
    font-size: 1.6rem;
    font-family: $upwork-sans;
    line-height: 1.5rem;
    @extend %semi-bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  h4 {
    @extend %semi-bold;
    color: #d5e0d5;
    width: 80%;
  }
  .listContainer {
    @include flex();
    border-top: 1px solid #f8faf7;
    padding-top: 1rem;
    margin-top: 1rem;
    .first {
      width: 50%;
    }
  }

  h3 {
    font-size: 1.6rem;
    @extend %bold;
  }
}
.brown {
  background-color: #bc511b !important;
}
.sliderContainer {
  @extend %container-margin;
  h1 {
    font-size: 5rem;
    font-family: $upwork-sans;
    width: 60%;
    line-height: 4.6rem;
    @extend %bold;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.slider {
  display: grid;
  grid-template-columns: 37rem 37rem 37rem;
  grid-template-rows: auto;
  gap: 2rem;
  overflow-x: scroll;
}
.card2 {
  background-color: #011e00;
  color: #f8faf7;
  width: 37rem;
  height: 28rem;
  border-radius: 6px;
  @include flex();
  .one {
    width: 45%;
    padding: 2rem;
  }
  .two {
    width: 55%;
    padding: 2rem 3rem;
    font-size: 1.2rem;
    @extend %semi-bold;
  }
}
